@model IEnumerable<MoviesWeb.Models.Movie>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@* <span>
    <input asp-action="Search" id="keyword"/>
    <input type="submit" value="Search" class="btn btn-success" />
</span> *@
@using (Html.BeginForm("Search", "Movies", FormMethod.Get))
{
    <input type="text" name="keyword" placeholder="Enter Movie Name" />
    <button type="submit">Search</button>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieGenres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Writer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IMDBScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (item.MovieGenres != null)
                    {
                        @foreach (var movieG in item.MovieGenres)
                        {
                            @if (movieG.Genre != null)
                            {
                                <span>@movieG.Genre.Title</span>
                            }
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Director)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Writer)
                </td>
                <td>
                    @if (item.Stars != null)
                    {
                        @foreach (var i in item.Stars)
                        {
                            @if (i.Cast != null)
                            {
                                <span>@i.Cast.FullName</span>
                            }
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IMDBScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

